* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* > * {
  font-family: poppins;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: poppins;
  overflow-x: hidden;
  height: -webkit-fill-available;
}

button,
input {
  font-family: poppins;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --btn-light: #6b7bd3;
  --background-light: #9999ff;
}
