.nav {
  width: 100%;
  // box-shadow: ;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .logo {
    flex: 0.6;
    display: flex;
    align-items: center;

    svg {
      transform: scale(0.9);
    }

    h2 {
      padding-left: 10px;
      font-size: 20px;
      color: black;
    }
  }

  ul {
    flex: 0.4;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    li {
      a {
        color: black;
      }
    }
  }
}
