.hero {
  background: rgb(0, 0, 0);
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.404)),
    url("../images/sterling-cares.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 8%;

  .signup-container {
    width: 35%;
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;

    h1 {
      font-weight: 500;
      text-align: center;
      font-size: 25px;
    }

    p {
      font-size: 14px;
      text-align: center;
      padding: 10px 0;
    }

    .btn {
      border: none;
      outline: none;
      background: var(--btn-light);
      padding: 10px;
      color: white;
      font-weight: 600;
      cursor: pointer;
      margin: 20px 0;
      text-decoration: none;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
